.pl-container {
    display: flex;
    flex-direction: grid;
    gap: 1rem;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.pl-product {
    display: flex;
    flex-direction: grid;
    width: 70%;
    height: 100%;
}

.pl-img {
    height: 100%;
    padding: 16px;
}

.pl-img img{
    width: 180px;
    height: 180px;
}

.pl-details {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pl-price {
    height: 100%;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 0;
    padding-bottom: 32px;
}

.pl-title {
    height: 100%;
    font-size: 18px;
    font-weight: normal;
    margin-top: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.pl-address {
    text-align: center;
    width: 30%;
    height: 100%;
}

.pl-address span {
    width: 100%;
    height: 100%;
    font-size: 12px;
    opacity: 0.5;
}